[package]
name = "gb-io-py"
version = "0.2.0"
authors = ["Martin Larralde <martin.larralde@embl.de>"]
edition = "2021"
license = "MIT"
build = "src/build.rs"

[lib]
crate-type = ["cdylib", "rlib"]
name = "gb_io_py"
doctest = false

[build-dependencies.built]
version  = "0.5.1"
features = ["chrono"]

[dependencies]
libc = "0.2.135"
gb-io = "0.7.1"
pyo3-built = "0.4.6"
[dependencies.pyo3]
version = "0.16.1"

[dev-dependencies]
lazy_static = "1.4.0"

[features]
default = []
cpython = []
extension-module = ["pyo3/extension-module"]
nightly = ["pyo3/nightly"]
